/* The style of the Display Link below the images */
/* Global styles for the container and parent class */
.APTFPINbyTAP_container_class{
  position:relative;
  width:100%;
  display:block;
}
.APTFPINbyTAP_container_class img{
  margin:0;
  margin-bottom: 4px;
}
.APTFPINbyTAP_container_class.loading{
  min-height:200px;
  width:100%;
  background-image:url("images/loader.gif");
  background-position:center;
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-color:#fff;
}
.APTFPINbyTAP_inpost_container {
  padding:5px 0 10px 0;
  display:block;
  clear:both;
  width:100%;
  overflow:hidden;
}

img.APTFPINbyTAP-img-corners{
  border-radius: 3px 3px 3px 3px ! important;
}
img.APTFPINbyTAP-img-nocorners{
  border-radius: 0 0 0 0 ! important;
}

.APTFPINbyTAP_cascade_column{
  margin:0;
  padding:0;
  max-width:100%;
  float:left;
}

.APTFPINbyTAP_breakline{
  width:100%;
  float:left;
  position:relative;
  clear:both;
  height:1px;
}


.APTFPINbyTAP_parent_class{
  position:relative;
  max-width:100%;
  clear:both;
  display:block;
  height:auto;
  overflow: hidden;
}


.APTFPINbyTAP-row{
  position:relative;
  padding: 0 0 4px 0;
  clear:both;
  display:block;
  height:auto;
}
.APTFPINbyTAP-tile{
  display:block;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  margin:0 0 0 4px;
  float:left;
}
.APTFPINbyTAP-half-tile{
  
}
.APTFPINbyTAP-half-tile-first{

}
.APTFPINbyTAP-half-tile-last{

}

.APTFPINbyTAP-bookshelf{
  padding: 5px 0;
}
.APTFPINbyTAP-book{
  position:absolute;
  bottom:5px;
  margin:0 0 0 4px;
}

.APTFPINbyTAP-riftline{
  padding: 0 0 5px 0;
}
.APTFPINbyTAP-rift{
  position:absolute;
  bottom:5px;
  margin:0 0 0 4px;
}
.APTFPINbyTAP-rift.APTFPINbyTAP-float-0{
  top:0px;
}
.APTFPINbyTAP-rift.APTFPINbyTAP-float-1{
  bottom:5px;
}


.APTFPINbyTAP-image-div-container{
  overflow:hidden;
}
.APTFPINbyTAP-gallery-container{
  margin:0 0 0 4px;
}

.APTFPINbyTAP-image-div{
  display:block;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  width:100%;
  height:100%;
  position:relative;
}
.APTFPINbyTAP-link{
  width:100%;
  height:100%;
  display:block;
}
.APTFPINbyTAP-border-div{
  background: none repeat scroll 0 0 #FFFFFF;
  padding:5px;
}
.APTFPINbyTAP-highlight-div{
  background: none repeat scroll 0 0 #FFFFFF;
  padding:2px;
}
.APTFPINbyTAP-shadow-div{
  box-shadow: 1px 1px 3px rgba(34, 25, 25, 0.4);
}
.APTFPINbyTAP-curve-div{
  border-radius: 3px 3px 3px 3px;
}


.APTFPINbyTAP-display-link{
  width:100%;
  text-align:center;
  /*font-size:10px; */
  margin:3px 0 3px 0;
  position:relative;
}
.APTFPINbyTAP-image-link{
  margin:0px;
  border:0px;
  padding:3px 0 3px 0;
}
.APTFPINbyTAP-display-link-container{
  position:relative;
  clear:both;
  display:block;
  width:100%;
  text-align:center;
}



/* Styles specific to the images of each display style */
.APTFPINbyTAP-vertical-img{
  position:relative;
  width:100%;
  margin:4px 0 0 0;
  padding:0;
  border:0;
  outline:0;  
}
.APTFPINbyTAP-vertical-link{
  line-height:0;
  display:block;
}
.APTFPINbyTAP-tile-img{
  width:100%;
  margin:0;
  padding:0;
  border:0;
  outline:0;
}


/* Style for the little corner link to TAP*/
.APTFPINbyTAP-by-link{
  position:absolute;
  bottom:0px;
  left:5px;
  display:block;
  height:auto;
  color:#C0C0C0;
  padding:5px;
  text-align:left;
  font-size:12px;
  z-index:100;
}
.APTFPINbyTAP-by-link a{
  font-size:8px;
  line-height:8px;
  opacity:0.9;
  filter:alpha(opacity=90);
  COLOR:#C0C0C0;
  text-decoration:none;
}
.APTFPINbyTAP-pinterest-container{
  position:relative;
  display:block;
}
.pin-it-button{
  display:block;
  width:100%;
  height:100%;
}
.APTFPINbyTAP-pinterest-container:hover .APTFPINbyTAP-pin-it, .APTFPINbyTAP-pin-container:hover .APTFPINbyTAP-pin-it{
  opacity:1;
}
.APTFPINbyTAP-pin-it{
  background-image: url('images/pin-it.png');
  width:43px;
  height:21px;
  max-height:50%;
  max-width:50%;
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  position:absolute;
  bottom:18px;
  right:15px;
  opacity:0;
}
.APTFPINbyTAP-pin-it.small{
  bottom:5px;
  right:7px;
}
.APTFPINbyTAP-pin-it:hover{
  background-color:rgba(34, 25, 25, 0.6);
  box-shadow: 0 0 3px rgba(34, 25, 25, 0.6);
}