  .icon-alpine{
    background-image:url('images/Pine-Trees.png');
    box-shadow: 0 0 2px #999999;
    border-radius: 3px 3px 3px 3px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  }
  .APTFPINbyTAP-pinterest {
    width:100%;
    overflow:hidden;
  }
  .APTFPINbyTAP-pinterest.generator, .APTFPINbyTAP-pinterest.plugin-settings{
    max-width:700px;
    margin:10px 0 20px 0;
  }
  .APTFPINbyTAP-pinterest .help-link{
    width:100%;
    clear:both;
    padding:5px 0;
    margin: 20px 0 0 0;
  }
  .APTFPINbyTAP-pinterest.plugin-settings .title{
    width:25%;
    max-width: 180px;
    min-width: 100px;
    display:inline-block;
    margin: 0 10px 0 0;
    font-size:1.1em;
  }
  .APTFPINbyTAP-pinterest.plugin-settings h4{
    font-size:1.17em;
  }
  .APTFPINbyTAP-pinterest.plugin-settings  input[type="text"]{
    width:100px;
  }
  .APTFPINbyTAP-pinterest .form-table{
    margin:0;
  }
  .APTFPINbyTAP-pinterest .form-table th{
    width:40%;
    padding:10px 0;
  }
  .APTFPINbyTAP-pinterest .form-table td{
    padding:5px 0;
  }
  .APTFPINbyTAP-pinterest option{
    margin:5px;
  }
  .APTFPINbyTAP-pinterest label{
    margin-right:5px;
  } 
  .APTFPINbyTAP-pinterest  textarea{
    width:100%;
  }
  .APTFPINbyTAP-pinterest input[type="text"]{
    width:50%;
  }
  .APTFPINbyTAP-pinterest .description{
    width:100%;
    text-align:center;
  }  

  .APTFPINbyTAP-pinterest h4 {
    margin: 0.5em 0;
  }
  .APTFPINbyTAP-pinterest .top{
    clear:both;
    float:left;
    width:100%;
    padding:0 0 15px 0;
    margin-bottom:10px;
    border-bottom:1px solid #DDD;
    position:relative;
  }  
  .APTFPINbyTAP-pinterest .right, .APTFPINbyTAP-pinterest .left{
    width:48%;
    position:relative;
  }
  .APTFPINbyTAP-pinterest .right{
    float:right;
    clear:right;
  }
  .APTFPINbyTAP-pinterest .left{
    float:left;
    clear:left;
  }  
  .APTFPINbyTAP-pinterest .right input[type="text"], .APTFPINbyTAP-pinterest .left input[type="text"]{
    width:100%;
  }
  .APTFPINbyTAP-pinterest .bottom input[type="text"] {
    width:20%;
  }
  .APTFPINbyTAP-pinterest .bottom{
    float:left;
    clear:both;
    display:block;
    width:100%;
    height:auto;
    padding:15px 0 10px 0;
    margin-top:10px;
    border-top:1px solid #DDD;
    position:relative;
  }    
  .APTFPINbyTAP-pinterest .bottom .description{
    width:100%;
    text-align:left;
  }  

